* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Aldrich-Regular';
  src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
  font-style: normal;
}

body {
  font-family: 'Aldrich-Regular', sans-serif;
  background-color: #141414;
  font-size: 23px;
  color: #395e53;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #101d1c;
  padding: 15px 0;
  position: relative;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 60px;
}

.nav-toggle {
  display: none;
}

.nav-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.nav-toggle.clicked span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.nav-toggle.clicked span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.clicked span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.menu-links {
  display: flex;
  gap: 25px;
  flex-grow: 1;
  z-index: 10000;
}

.menu-links a {
  color: #bdbebe;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  border-bottom: 1px solid transparent;
}

.menu-links a:hover {
  color: #bdbebe;
  border-bottom-color: #e9e9e9;
}

.vk-small {
  width: 50px;
  height: auto;
  margin-top: 12px;
}

.vk-logo {
  transition: transform 0.3s ease;
}

.vk-link:hover .vk-logo {
  transform: scale(1.2);
}

/* Мобильная адаптивность */
@media (max-width: 768px) {
  .vk-link {
    display: none;
  }

  .nav-toggle {
    display: flex;
  }

  .menu-links {
    flex-direction: column;
    width: 100%;
    background: #142524;
    position: absolute;
    top: 80px;
    right: 0;
    text-align: right;
    padding: 20px;
    border-left: 2px solid #bdbebe;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    z-index: 1200;
  }

  .menu-links.show {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
  }

  .menu-links a {
    margin: 10px 0;
    font-size: 18px;
  }
}

.photo-section {
  text-align: center;
  margin-top: 0px;
}

.horizontal-photo {
  max-width: 100%;
  height: auto;
}

/* Анимация для плавного появления */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Стили для блока с текстом */
.project-description {
  float: left;
  width: 80%;
  padding: 20px;
  margin: 30px 5%;
  color: #bdbebe;
  background-color: #101d1c;
  border-radius: 8px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

.project-description h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #bdbebe
}

.project-description p {
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .project-description {
    float: none;
    width: 90%;
    margin: 20px auto;
  }

  .project-description h2 {
    font-size: 24px;
  }

  .project-description p {
    font-size: 16px;
  }
}

/* Контейнер для VK виджета */
.vk-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.vk-widget-padding {
  margin: 0 20px;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

/* Стили для iframe внутри виджета */
#vk_groups {
  width: 100%;
  height: 600px;
  border: none;
}

/* Мобильная адаптивность для VK виджета */
@media (max-width: 768px) {
  #vk_groups {
    height: 450px;
  }
}

@media (max-width: 480px) {
  #vk_groups {
    height: 350px;
  }
}

/* --- Стили для карусели преимуществ проекта с разделенными элементами --- */
.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden; /* Скрываем элементы, выходящие за пределы контейнера */
  position: relative;
}

.carousel-inner {
  display: flex;
  gap: 20px; /* Добавляем промежутки между элементами */
  transition: transform 0.5s ease-in-out;
  width: calc(100%); /* Убираем дополнительное пространство */
}

.carousel-item {
  flex: 0 0 calc(33.333% - 20px); /* Элементы занимают 33.333% ширины, учитывая промежутки */
  padding: 20px;
  text-align: center;
  background-color: #101d1c;
  border-radius: 8px;
  color: #bdbebe;
  
  transition: opacity 0.5s ease;
  box-sizing: border-box; /* Учитываем padding и margin */
}

/* Настройка для заголовков и абзацев */
.carousel-item h3 {
  font-size: 28px;
  margin-bottom: 10px;
  
}

.carousel-item p {
  font-size: 20px;
}

/* Кнопки переключения карусели */
.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #122423;
  color: #bdbebe;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

@media (min-width: 1024px) {
  .carousel-prev1, .carousel-next1 {
    display: none;
}
}



/* Адаптивность для карусели */
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 calc(50% - 20px); /* Показываем 2 преимущества на среднем экране */
  }

  .carousel-item h3 {
    font-size: 22px;
  }

  .carousel-item p {
    font-size: 18px;
  }

  .carousel-prev, .carousel-next {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 calc(100% - 20px); /* Показываем 1 преимущество на маленьком экране */
  }

  .carousel-item h3 {
    font-size: 20px;
  }

  .carousel-item p {
    font-size: 16px;
  }

  .carousel-prev, .carousel-next {
    font-size: 16px;
  }
}

.advantages-list {
  list-style: none; /* Убираем стандартные маркеры */
  padding-left: 0; /* Убираем отступ слева */
  margin: 20px 0; /* Отступы сверху и снизу */
}

.advantages-list li {
  margin-bottom: 10px; /* Отступ между пунктами списка */
  font-size: 20px;
  line-height: 1.6;
}
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Отступ между каруселью и индикаторами */
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc; /* Цвет неактивных индикаторов */
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #101d1c; /* Цвет активного индикатора */
}

/* Контейнер для карусели */
.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden; /* Скрываем элементы, выходящие за пределы контейнера */
  position: relative;
  padding-left: 20px;  /* Добавляем отступ слева для мобильных */
  padding-right: 10px; /* Добавляем отступ справа для мобильных */
}

/* Элементы карусели */
.carousel-item {
  flex: 0 0 calc(33.333% - 20px); /* Элементы занимают 33.333% ширины, учитывая промежутки */
  padding: 20px;
  text-align: center;
  background-color: #101d1c;
  border-radius: 8px;
  color: #bdbebe;
  transition: opacity 0.5s ease;
  box-sizing: border-box; /* Учитываем padding и margin */
}

/* Адаптивность для карусели */
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 calc(50% - 20px); /* Показываем 2 преимущества на среднем экране */
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 calc(100% - 20px); /* Показываем 1 преимущество на маленьком экране */
  }
}

.carousel-container {
  margin-bottom: 20px; /* Отступ снизу для карусели */
}

.photo-blocks {
  text-align: center; /* Центрируем текст и заголовок */
  padding: 20px; /* Отступы для блока */
}

.photo-blocks-title {
  font-size: 40px; /* Размер шрифта заголовка */
  margin-bottom: 20px; /* Отступ снизу заголовка */
}

.photo-blocks-content {
  display: flex; /* Используем Flexbox для центровки блоков */
  justify-content: center; /* Центруем блоки по горизонтали */
  gap: 50px; /* Отступ между блоками */
}

.photo-block {
  background-color: #101d1c; /* Фоновый цвет блока, чуть светлее, чем остальной фон */
  border-radius: 8px; /* Скругленные углы для блока */
  padding: 15px; /* Отступы внутри блока */
  width: 400px; /* Ширина блока */
  text-align: center; /* Центрируем текст внутри блока */
  transition: background-color 0.3s; /* Плавный переход при наведении */
}

.photo-block:hover {
  background-color: #101d1c; /* Цвет фона при наведении */
}

.photo {
  width: 100%; /* Изображение будет растягиваться по ширине блока */
  height: auto; /* Соотношение сторон будет сохраняться */
}

.photo-text {
  margin-top: 10px; /* Отступ сверху для текста под изображением */
  font-size: 16px; /* Размер шрифта для описания */
  color: #fff; /* Цвет текста */
}

ul {
  list-style-type: none; /* Убираем маркеры */
}

.carousel-container {
  text-align: center; 
  padding: 20px; 
}

.carousel-title {
  font-size: 40px; 
  margin-bottom: 20px; 
}

.carousel-wrapper {
  display: flex; 
  justify-content: center; 
  gap: 50px; 
}

.carousel-item {
  background-color: #0d1817; 
  border-radius: 8px; 
  padding: 15px; 
  width: 400px; 
  text-align: center; 
  transition: background-color 0.3s; 
}

.carousel-item:hover {
  background-color: #101d1c; 
}

.carousel-image {
  width: 100%; 
  height: auto; 
}

.carousel-description {
  margin-top: 10px; 
  font-size: 16px; 
  color: #fff; 
}

ul {
  list-style-type: none; 
}

footer {
  background-color: #0f0f0f; /* Темный фон */
  color: #ecf0f1; /* Светлый текст */
  padding: 20px; /* Отступы вокруг футера */
  text-align: center; /* Центрируем текст */
  display: flex; /* Используем флексбокс для горизонтального расположения */
  flex-direction: row; /* Располагаем элементы в строку */
  justify-content: space-between; /* Распределяем пространство между элементами */
  align-items: center; /* Выравнивание по центру по вертикали */
}

.footer-logo img {
  width: 100px; /* Размер логотипа */
}

.footer-links {
  display: flex; /* Используем флексбокс для ссылки */
  margin-bottom: 15px; /* Отступ снизу */
}

.footer-links p {
  color: #ecf0f1; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  margin: 0 15px; /* Горизонтальные отступы между ссылками */
  font-size: 20px;
}

.footer-links a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.footer-socials {
  display: flex; /* Используем флексбокс для иконок социальных сетей */
}

.footer-socials img {
  margin: 0 10px; /* Горизонтальные отступы между иконками */
  width: 40px;
  height: auto;
  transition: transform 0.3s ease; /* Плавный переход для трансформации */
}

.footer-socials img:hover {
  transform: scale(1.2); /* Увеличение при наведении */
}

.footer-copy {
  font-size: 14px; /* Размер шрифта для копирайта */
  margin-bottom: 7px; /* Отступ  для текста копирайта */
  
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column; /* Вертикальная компоновка для мобильных */
  }
  .footer-links {
    display: none;
  }
}

.standarts-container {
  text-align: center;
}

.standarts-widget {
  max-width: 600px;  /* Максимальная ширина виджета */
  margin: 0 auto;    /* Центрирование виджета по горизонтали */
  position: relative; /* Позволяет детям позиционироваться относительно него */
  height: 100%;      /* Высота для родительского элемента */
  margin-bottom: 100px;
}


.instruction {
  font-family: 'Aldrich-Regular', sans-serif; /* Используйте свой шрифт */
  max-width: 1500px; /* Максимальная ширина блока */
  margin: 0 auto; /* Центрирование блока */
  padding: 20px; /* Внутренние отступы */
  border-radius: 8px; /* Скругление углов */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
}

.instruction h2 {
  font-size: 1.8em; /* Размер заголовка */
  margin-bottom: 15px; /* Отступ снизу */
  color: #333; /* Цвет заголовка */
}

.instruction ol {
  padding-left: 20px; /* Отступ для нумерованного списка */
}

.instruction li {
  margin-bottom: 10px; /* Отступ между элементами списка */
}

.instruction strong {
  color: #a3a3a3; /* Цвет выделенного текста */
}

.instruction code {
  background-color: #303030; /* Цвет фона для кода */
  padding: 2px 5px; /* Внутренние отступы для кода */
  border-radius: 4px; /* Скругление углов для кода */
  font-family: 'Courier New', Courier, monospace; /* Шрифт для кода */
}

.instruction {
  font-family: 'Aldrich-Regular', sans-serif; /* Используйте свой шрифт */
  max-width: 1500px; /* Максимальная ширина блока */
  margin: 0 auto; /* Центрирование блока */
  padding: 20px; /* Внутренние отступы */
  border-radius: 8px; /* Скругление углов */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
}

.instruction h2 {
  font-size: 1.8em; /* Размер заголовка */
  margin-bottom: 15px; /* Отступ снизу */
  color: #333; /* Цвет заголовка */
}

.instruction ol {
  padding-left: 20px; /* Отступ для нумерованного списка */
}

.instruction li {
  margin-bottom: 10px; /* Отступ между элементами списка */
}

.instruction strong {
  color: #a3a3a3; /* Цвет выделенного текста */
}

.instruction code {
  background-color: #303030; /* Цвет фона для кода */
  padding: 2px 5px; /* Внутренние отступы для кода */
  border-radius: 4px; /* Скругление углов для кода */
  font-family: 'Courier New', Courier, monospace; /* Шрифт для кода */
}

.instruction ul {
  margin: 5px 0 10px 20px; /* Отступы для вложенных списков */
}

.instruction-container {
  display: flex; /* Flexbox для размещения элементов */
  justify-content: center; /* Центрирует содержимое по горизонтали */
  align-items: center; /* Центрирует содержимое по вертикали */
  margin: 20px 0; /* Отступы сверху и снизу */
}

.text-with-image {
  display: flex; /* Используем Flexbox для размещения элементов в ряд */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
}

.side-image {
  width: 800px; /* Ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  margin-right: 20px; /* Отступ справа от изображения */
  border-radius: 8px; /* Скругление углов изображения (по желанию) */
  margin-left: 50px;
}

.text-content {
  flex: 1; /* Позволяет текстовому блоку занимать оставшееся пространство */
}

.instruction-container a {
  color: #a3a3a3;
}

/* Адаптация под планшеты и мобильные устройства */
@media (max-width: 1024px) {
  .instruction-container {
    flex-direction: column; /* Вертикальное размещение элементов */
    align-items: center; /* Центрируем элементы по центру */
    margin: 20px;
  }

  .side-image {
    width: 100%; /* Ширина изображения на планшетах */
    margin: 0 0 20px 0; /* Убираем отступы */
  }

  .text-with-image {
    flex-direction: column; /* Вертикальное размещение элементов */
    align-items: center; /* Центрируем элементы по центру */
    text-align: center; /* Выравнивание текста по центру */
  }

  .text-content {
    text-align: left; /* Выравнивание текста по центру */
  }
}

@media (max-width: 768px) {
  .instruction h2 {
    font-size: 1.5em; /* Уменьшаем размер заголовка */
  }

  .instruction {
    padding: 10px; /* Уменьшаем отступы для мобильных */
  }

  .side-image {
    width: 90%; /* Ширина изображения на мобильных */
  }
 

}

@keyframes screen-shake {
  0%   { transform: translateX(0px); }
  10%  { transform: translateX(-1px); }
  20%  { transform: translateX(1px); }
  30%  { transform: translateX(-2px); }
  40%  { transform: translateX(2px); }
  50%  { transform: translateX(0px); }
  60%  { transform: translateX(-1px); }
  70%  { transform: translateX(1px); }
  80%  { transform: translateX(0px); }
  90%  { transform: translateX(-1px); }
  100% { transform: translateX(0px); }
}


.screen-jitter {
  animation: screen-shake 0.5s infinite;
}
html, body {
  overflow-x: hidden;
}

.static-noise {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 99999;
  opacity: 0.1;
  background-image: url('/images/noise.gif');
  background-repeat: repeat; /* Добавь это */
  background-position: 0 0;  /* по желанию */
}

