
    body {
      font-family: 'Futura', sans-serif;
      cursor: url('https://cdn.jsdelivr.net/gh/joelalejandro/cursor-effect@latest/cursors/hexagon.cur'), auto;
    }


  .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    text-align: center;
    z-index: 1000;
    font-size: 1.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  }

  .notification.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

